.title{
    font-family: 'Times New Roman', Times, serif;
    border: 20px;
  }
  body {
    background-image: url('last.jpeg'); 
    background-size:cover; 
    background-position: center; 
    background-repeat: repeat; 
    font-family: Arial, sans-serif; 
    color: black; 
    text-align: center; 
    padding: 50px; 
    font-family:"Times New Roman", Times, serif ;
  }
  
  .weekly{
    background-color:#eba399 ;
    height: 36px;
    width: 200px;
    margin-bottom: 15px; /*to make space between buttons */
    margin-left: 20px;
    padding-top: 10px; /*sapcing inside the button */ 
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bolder;
    cursor: pointer; /* when i hover it will make a sort of hand thant will point on the button   */
  }
  .weekly:hover{
    opacity: 0.8; /* when i point on the button it will give an 
    effect shadow and also the color will change so when i point
    on any button it will be lighter or draker and also whith
    a slight shadow whenever i point on it */
  }
  .photo{
    background-color:#efdbcb ;
    height: 36px;
    width: 200px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bolder;
    cursor: pointer; 
  }
  .photo:hover{
    opacity: 0.8;
  }
  
  .parent{
    background-color:#d5caba ;
    height: 36px;
    width: 200px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bolder;
    cursor: pointer; 
  }
  
  .parent:hover{
    opacity: 0.8;
  }
  
  .about{
    background-color: #f7b579;
    height: 36px;
    width: 200px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bolder;
    cursor: pointer; 
  }
  
  .about:hover{
    opacity: 0.8;
  }
  
  .container { /*container uses Flexbox to arrange its child elements in a horizontal row */
    display: flex;
    flex-direction: row; 
  }
  
  table { /*table design  */
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
  }
  
  table, th, td { 
    border: 2px solid;
  
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  .event{
    background-color:#eba399 ;
    height: 45px;
    width: 200px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-top: 10px; 
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bolder;
  }
  
  .event:hover{
    opacity: 0.8;
  }
  
  .annoucement{
    background-color:#efdbcb ;
    height: 45px;
    width: 200px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bolder;
  }
  
  .annoucement:hover{
    opacity: 0.8;
  }
  
  .handbook{
    background-color:#f7b579 ;
    height: 45px;
    width: 200px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bolder;
  }
  
  .handbook:hover{
    opacity: 0.8;
  }
